@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&display=swap');
/* font-family: 'Pangolin', cursive;
font-family: 'Permanent Marker', cursive; */

* {
  box-sizing: border-box; 
  border: rgb(215, 210, 182) solid 0.5px;
}

/*--------------------TAGS--------------------*/

select {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

/*--------------------CLASS--------------------*/

.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar a{
  padding-bottom: 0px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-areas: 
  "W W W D D"
  "W W W D D"
  "W W W W W"
  "W W W W W"; */
}

.calendarBoard {
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box; 
  border: black solid 2px;
}

.days {
  display: grid;
  grid-template-areas: 
  ". . . D D"
  ". . . D D"
  ". . . . ."
  ". . . . .";
}

.days h3 {
  grid-area: D;
  margin-top: 0px;
  margin-right: 0px;
  border-width: 0px;
}

.daysSpaces {
  grid-area: W;
  padding: 12px;
}

.eventForm label {
  display: block;
  text-align: left;
}

.homepage button {
  margin-top: 35px; 
  border-radius: 4px;
  font-size: 15px;
  padding: 5px;
}

.homepage h1 {
  font-size: 20px;
  font-family: 'Pangolin', cursive;
  margin: 40px 40px;
}

.homepage span {
  font-size: 35px;
  display: block;
  font-family: 'Permanent Marker', cursive;
  
}

/*--------------------IDs--------------------*/



/*--------------------Media Query--------------------*/

@media (min-width: 1024px) {
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar a{
    padding-bottom: 40px;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: 
    "W W W D D"
    "W W W D D"
    "W W W W W"
    "W W W W W";
  }
  .calendarBoard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-sizing: border-box; 
    border: black solid 2px;
  }

  .daysNumbers {
    grid-area: D;
    margin: 0px;
  }

  .daysSpaces {
    grid-area: W;
  }

}