@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&display=swap");

/*--------------------TAGS--------------------*/

button {
  font-size: 15px;
  padding: 5px;
  background-color: rgb(8, 12, 73);
  color: white;
  font-family: "Pangolin", cursive;
  border-radius: 6px;
}

select {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

/*--------------------CLASS--------------------*/

.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
}

.appName {
  margin-right: 0px;
  margin-top: 2px;
}

.appName span {
  margin-right: 0px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
  border: black solid 2px;
}

.calendar a {
  padding-bottom: 0px;
  display: grid;
  border: black solid 1px;
  color: rgb(8, 12, 73);
}

.calendarBoard {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 5px;
  margin-right: 5px;
}

.calendarMonth {
  margin-bottom: 0px;
  margin-top: 0px;
  border-width: 1px;
  font-family: "Permanent Marker", cursive;
  color: rgb(8, 12, 73);
}

.calendarNav {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  margin: 5px;
}

.calendarPage {
  background-color: rgb(214, 237, 240);
  padding-bottom: 5px;
}

.calendarYear {
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: "Pangolin", cursive;
  color: rgb(29, 71, 160);
  font-weight: 5px;
}

.dayNames {
  font-size: 9px;
  font-weight: bold;
  border-bottom: black solid 2px;
  border-left: black solid 1px;
  background-color: rgb(13, 70, 104);
  color: rgb(226, 214, 202);
  font-family: "Pangolin", cursive;
}

.dayNumbers {
  color: rgb(8, 12, 73);
}

.days {
  display: grid;
  grid-template-areas:
    ". . . D D"
    ". . . D D"
    ". . . . .";
}

.days h3 {
  grid-area: D;
  margin-top: 0px;
  margin-right: 0px;
  border-width: 0px;
}

.event h2 {
  border-bottom: black solid 1px;
}

.eventDeleteButton {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
  margin-right: 5px;
  text-align: right;
}

.eventForm label {
  display: block;
  text-align: left;
}

.eventForm input,
.notesForm textarea,
.eventForm textarea {
  background-color: rgb(243, 242, 236);
}

.eventInfo p {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 13px;
}

.eventInfo span {
  font-weight: bold;
  font-size: 15px;
}

.eventInfo {
  font-family: "Pangolin", cursive;
  margin-left: 10px;
}

.eventList {
  margin-left: 5%;
  margin-right: 5%;
  margin: black solid 2px;
  background-color: rgb(26, 87, 136);
  border-radius: 8px;
}

.events {
  margin-bottom: 50px;
}

.eventForm label {
  font-family: "Pangolin", cursive;
  color: rgb(224, 212, 212);
  font-weight: bold;
  font-family: "Pangolin", cursive;
  margin-left: 10px;
  margin-top: 10px;
}

.eventsFormButton,
.notesFormButton {
  align-content: center;
  margin-top: 10px;
}

.eventsForm {
  border-top: black solid 1px;
  margin-top: 30px;
  padding-top: 10px;
}

.eventsForm h3 {
  margin-top: 5px;
}

.dayDateTitle {
  color: rgb(163, 225, 233);
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
}

.errorMessage {
  color: rgb(194, 17, 17);
  font-family: "Pangolin", cursive;
}

.eventList h2,
.eventsForm h3 {
  color: rgb(214, 237, 240);
  font-family: "Pangolin", cursive;
}

.eventNav {
  display: flex;
  justify-content: left;
  margin: 5px;
}

.eventPage {
  justify-content: center;
}

.events {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-top: 10px 10px;
  text-align: left;
  background-color: rgb(243, 242, 236);
  border-radius: 4px;
}

.hasEvent {
  background-color: yellow;
}

.homepage {
  background-color: rgb(214, 237, 240);
  margin-bottom: 0px;
}

.homepage button {
  margin-top: 35px;
  margin-bottom: 5px;
}

.homepage p {
  color: rgb(8, 12, 73);
  font-family: "Pangolin", cursive;
}

.homepageFilters {
  margin: auto;
  width: 75%;
}

.homepageFilters select {
  background-color: rgb(195, 221, 223);
  font-family: "Pangolin", cursive;
  border-radius: 4px;
  color: rgb(8, 12, 73);
}

.homeTitle h1 {
  font-size: 20px;
  font-family: "Pangolin", cursive;
  margin: 40px 40px;
  margin-bottom: 0px;
  color: rgb(8, 12, 73);
}

.homeTitle span {
  font-size: 35px;
  display: inline;
}

.me {
  color: rgb(197, 162, 48);
  font-family: "Permanent Marker", cursive;
}

.notes {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-top: 10px 10px;
  text-align: left;
  background-color: rgb(243, 242, 236);
  border-radius: 4px;
}

.notes button {
  margin-right: 5px;
  font-size: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
}

.notes label {
  margin: 10px;
  font-size: 15px;
  margin-top: 5px;
  font-family: "Pangolin", cursive;
}

.notesTitle {
  margin-bottom: 5px;
  border-bottom: black solid 1px;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.notesList {
  margin: rgb(8, 12, 73) solid 1px;
  background-color: rgb(26, 87, 136);
}

.notesForm {
  border-top: black solid 1px;
  margin-top: 30px;
  padding-top: 10px;
}

.notesForm label {
  display: block;
  text-align: left;
  margin-left: 10px;
  color: rgb(224, 212, 212);
  font-weight: bold;
  font-family: "Pangolin", cursive;
}

.notesForm textarea,
.eventForm textarea {
  width: 90%;
  height: 0 auto;
}

.remind {
  color: rgb(46, 177, 159);
  font-family: "Permanent Marker", cursive;
}

/*--------------------Media Query iPad--------------------*/

@media (min-width: 768px) {
  button {
    font-size: 25px;
  }

  select {
    display: inline;
  }

  .calendarNav span {
    font-size: 30px;
  }

  .calendarMonth {
    font-size: 50px;
  }

  .calendarYear {
    font-size: 30px;
  }

  .dayNames {
    font-size: 22px;
  }

  .dayNumbers {
    font-size: 30px;
  }

  .eventList {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
  }

  .eventList h2,
  .eventsForm h3 {
    font-size: 40px;
  }

  .homeTitle h1,
  .dayDateTitle {
    font-size: 40px;
  }

  .homeTitle span {
    font-size: 50px;
  }

  .homepage {
    align-content: center;
  }

  .homepage p,
  .errorMessage {
    font-size: 25px;
  }

  .homepageFilters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 75%;
  }

  .homepageFilters select {
    font-size: 25px;
  }

  .notes button {
    font-size: 20px;
  }

  .notes label,
  .notesForm label,
  .notesForm textarea,
  .eventForm label,
  .eventForm input,
  .eventForm textarea,
  .eventInfo p,
  .eventInfo span {
    font-size: 23px;
  }
}

/*--------------------Media Query Desktop--------------------*/

@media (min-width: 1024px) {
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar a {
    padding-bottom: 40px;
    display: grid;
    grid-template-areas:
      "W W W D D"
      "W W W D D"
      "W W W W W"
      "W W W W W";
  }

  .calendarBoard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-sizing: border-box;
    border: black solid 2px;
  }

  .daysNumbers {
    grid-area: D;
    margin: 0px;
  }

  .daysSpaces {
    grid-area: W;
  }

  .eventList {
    margin-left: 25%;
    margin-right: 25%;
  }
}
