@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&display=swap');
/* font-family: 'Pangolin', cursive;
font-family: 'Permanent Marker', cursive; */

* {
  box-sizing: border-box; 
  border: gold solid 0.5px;
}

/*--------------------TAGS--------------------*/

select {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

/*--------------------CLASS--------------------*/

.App {
  text-align: center;
}

.App-header {
  align-items: center;
  justify-content: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendarBoard {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.dates {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "W W W D D"
  "W W W D D"
  "W W W W W"
  "W W W W W";
}

.dateNumbers {
  grid-area: D;
  margin: 0px;
}

.dateSpaces {
  grid-area: W;
}

.homepage button {
  margin-top: 35px; 
  border-radius: 4px;
  font-size: 15px;
  padding: 5px;
}

.homepage h1 {
  font-size: 20px;
  font-family: 'Pangolin', cursive;
  margin: 40px 40px;
}

.homepage span {
  font-size: 35px;
  display: block;
  font-family: 'Permanent Marker', cursive;
  
}

/*--------------------IDs--------------------*/


